@model IEnumerable<Contract.DTO.CustomerDTO>
@{
	ViewData["Title"]= "Index";
}

<h2>INDEX</h2>
<p>
	@Html.ActionLink("Add New Customer","AddEditCustomer")
</p>

<table id="customer_details_table" class="customer_details_table">
	<thead class="headings">
		<tr>
			<th>
				ID
			</th>
			<th>
				Name
			</th>
			<th>
				Address
			</th>
			<th>
				Contact
			</th>
			<th>
				Email
			</th>
			<th>

			</th>
		</tr>
	</thead>
	<tbody>
@foreach (var item in Model){
		<tr>
			<td>
				@item.Id
			</td>
			<td>
				@item.customer_name
			</td>
			<td>
				@item.customer_address
		    </td>
			<td>
				@item.customer_contact
		    </td>
			<td>
				@item.customer_email
			</td>
			<td>
                @Html.ActionLink("Edit", "AddEditCustomer", new { id=item.Id  }) |
                @Html.ActionLink("Delete", "Remove", new { id=item.Id  })
            </td>
		</tr>
}
	</tbody>
</table>