@model IEnumerable<Product>
@{
    ViewData["Title"] = "Index";
}

<h1 class="pb-4">product Index</h1>

<table class="table table-bordered table-striped " style="width:100%">
    <thead>
        <tr>
            <th>Application</th>
            <th>Rim Size</th>
            <th>Tyre Size</th>
            <th>Pattern</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>


    <tbody>
    @foreach (var item in Model)  
    {
        <tr>
            
            <td>@item.Application</td>
            <td>@item.Rim_Size</td>
            <td>@item.Tire_Size</td>
            <td>@item.Pattern</td>
            <td>@item.Price</td>
            <td>@item.Quantity</td>
        </tr>
        
    }
    </tbody>
</table>





